extends layout

block header
  div(class='jumbotron text-center')
    h1= title

block content
  div(class='container')
    div(class='row')
      div(class='col-sm-2')
        p Welcome to #{title}!
        br
        p= message
        br
      div(class='col-sm-4')
        form(name='signup', method='post', action='users/signup')
          label Username:
          input(
          type='text'
          name='username'
          )
          br
          label Password:
          input(
            type='password'
            name='password'
          )
          br
          input(
            type='submit',
            formmethod='post',
            value='Register!'
          )


//- THIS is a comment
//- Nested tags should be indented

block footer 

  p This project was created by #{author} 
    //- The link below goes inside the above paragraph
    a(href='mailto:'+author_email) #{author_email}

